#
# Copyright (c) 2017-2021, salesforce.com, inc.
# All rights reserved.
# Licensed under the BSD 3-Clause license.
# For full license text, see LICENSE.txt file in the repo root  or https://opensource.org/licenses/BSD-3-Clause
#

# **********************************
# ARTIFACT STAMPING
# **********************************
# These settings ensure Spring Boot artifacts are built with stamped version info.
# The Spring Boot rule uses the stamping information to populate the /manage/info endpoint
# refer to our tools/buildstamp/README.md for more details
build --stamp
build --workspace_status_command tools/buildstamp/get_workspace_status


# **********************************
# JAVA TESTING
# **********************************
# BUILD files should fully specify their deps for tests
# the default behavior for Java tests is to infer junit and hamcrest deps but
# we disable that here so that projects need to be explicit
test --explicit_java_test_deps=true


# **********************************
# WORKAROUNDS
# **********************************

# TODO fix these old bazel-isms
build --incompatible_disallow_unverified_http_downloads=false

# maybe personal preference, but nice to see the test output
test --test_output=all
